<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="QueueSection" type="bisminer.QueueConfigurationSection, bisminer" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="miner_address" value="46de1a71d334e60c6d8dd6fef4afa16327bdf585a1c839d9d1afbba9" />
    <add key="miner_name" value="bis" />
    <add key="query_queue_settings_on_startup" value="true" />
    <add key="verbose" value="false" />
  </appSettings>
  <QueueSection>
    <Queues>
      <clear />
      <add platform="0" device="0" name="0" local_work_size="512" divisions="256"
        delay_between_divisions="0" />
              </Queues>
  </QueueSection>
</configuration>